#cesiumContainer {
  width: 100%;
  height: 100vh;
  position: relative; /* Needed for positioning child elements absolutely */
}

.cesium-viewer .cesium-widget-credits {
  display: none; /* this is code to remove credits message */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}

#searchInput {
  background-color: rgba(0, 0, 0, 0.9); /* Dark background */
  color: #fff;
  border: 1px solid #2f4f2f; /* Dark green border */
  padding: 10px;
  border-radius: 15px; /* Rounded corners */
  width: 60%; /* Full width */
  max-width: 300px; /* Optional: Set a max width */
  box-sizing: border-box; /* Ensure padding is included in the width */
  margin-bottom: 10px; /* Space below the input */
}

#controlPanel {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  border: 1px solid rgb(44, 44, 44);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 15px;
  z-index: 1; /* Ensure it stays on top of Cesium map */
}

button, select, input {
  margin-bottom: 10px; /* Adjust spacing between elements */
}

b, strong {
  color: rgb(0, 255, 64); /* Bright green */
}

#infoBox {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  border: 1px solid rgb(44, 44, 44);
  width: 300px;
  max-height: 350px;
  overflow-y: auto;
  margin-top: 10px; /* Adjust spacing from top */
  top: 260px;
  left: 10px;
  z-index: 1;
  padding: 15px;
  border-radius: 15px;
}

#imageButtons {
  position: absolute;
  top: 180px; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1; /* Ensure it stays on top of Cesium map */
}

button {
  background-color: rgba(0, 0, 0, 0.9); /* Dark background */
  color: rgb(255, 255, 255);
  border: 1px solid #4caf50; /* Green border */
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background: rgba(255, 255, 255, 0.9); /* Hover effect */
  color: rgb(0, 0, 0);
}

#sculpturesImage img, #campusImage img {
  margin-bottom: 100px;
  width: auto; /* Adjust size as needed */
  height: auto;
  max-width: 700px;
  object-fit: cover;
  border: 2px solid #000000;
  z-index: 1;
}

.filtering {
  position: absolute;
  top: 11px;
  left: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  border-radius: 5px;
  z-index: 1; /* Ensure it stays on top of Cesium map */
  display: flex;
  flex-direction: column;
}

.filter-row {
  display: flex;
  gap: 5px; /* Space between dropdowns */
  margin-bottom: 5px; /* Space below the row */
}

select {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  border: 1px solid #4caf50; /* Green border */
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 15px;
}

select:focus {
  outline: none;
  border-color: #388e3c; /* Dark green on focus */
}

select option {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}




#controls {
  position: absolute;
  top: 15%; /* Adjusted to position towards the middle */
  right: 170px; /* Positioning from the right */
  transform: translateY(-50%); /* Center vertically */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px; /* Slightly reduced padding */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 200px; /* Decreased width */
  text-align: center;
}

#controls h3 {
  color: #2f4f2f; /* Dark green */
  font-size: 16px; /* Reduced font size */
  margin-bottom: 6px; /* Reduced margin */
}

#controls input {
  margin: 4px 0; /* Reduced margin */
  padding: 4px; /* Further reduced padding */
  width: 95%; /* Slightly reduced width */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px; /* Reduced font size */
  border-color: #2f4f2f;
}

#controls button {
  cursor: pointer;
  background-color: #4caf50; /* Green */
  color: #fff;
  font-weight: bold;
  margin: 4px 0; /* Reduced margin between buttons */
  width: calc(50% - 8px); /* Adjusted width for 2x2 layout */
}

#controls .button-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to the next line */
  justify-content: space-between; /* Space out buttons evenly */
}

#controls button:hover {
  background-color: #388e3c; /* Dark green */
}

#controls button:active {
  background-color: #2e7d32;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Positioning the control at the top right of the Cesium viewer */
#routeControls {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  width: 200px;
  z-index: 1;
}

/* Label styling */
#routeControls label {
  font-weight: bold;
  margin-top: 5px;
  color: #333;
  display: block;
}

/* Dropdown styling */
#routeControls select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #333;
}

/* Button styling */
#calculateRoute {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

#calculateRoute:hover {
  background-color: #0056b3;
}

#clearRoute{
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
#clearRoute:hover {
  background-color: #0056b3;
}